[package]
name = "heartbeat"
version.workspace = true
description.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
tokio.workspace = true
tracing.workspace = true
uuid.workspace = true
