target
database/db
backup/
db/
logs/
.env
.idea
.vscode
.claude
/resource
/build
/exchange-client/src/metatrader5/bin/
/exchange-client/build
/exchange-client/src/metatrader5/script/__pycache__
/exchange-client/src/metatrader5/script/.venv
/exchange-client/src/metatrader5/script/build
/exchange-client/src/metatrader5/script/MetaTrader5-x86_64-pc-windows-msvc.spec
/exchange-client/src/metatrader5/script/api/__pycache__
/engine/src/exchange_engine/bin
/engine/src/exchange_engine/build
**/__pycache__/
**/_pycache_/
*.pyc
*.pyo
CLAUDE.md
