[workspace]
resolver = "2"
members = [ 
    "crates/*",
    "examples/*"
    ]


[workspace.package]
version = "0.1.0"
description = "Star River Backend Workspace"
authors = ["Jabori"]
edition = "2021"


[workspace.dependencies]
axum = { version = "0.8.1", features = ["macros", "ws", "query","json"] }
axum-extra = {version = "0.10.0", features = ["typed-header"]}
headers = "0.4.0"
tokio-stream = {version = "0.1.17", features = ["sync"]}
tokio = { version = "1.0", features = ["full"] }
tracing = "0.1.41"
tracing-subscriber = {version = "0.3.19", features = ["env-filter"]}
serde = { version = "1.0.215", features = ["derive"] }
serde_json = "1.0.139"
tower-http = { version = "0.6.2", features = ["cors","fs", "trace"] }
uuid = { version = "1.15.1", features = ["v4", "serde"] }
chrono = { version = "0.4.39", features = ["serde"] }
strum = {version = "0.27.1", features = ["derive"]}
strum_macros = "0.27.1"
futures = "0.3.31"
tokio-tungstenite = { version = "0.26.1",features = ["native-tls"] }
zip = "2.2.2"
sysinfo = {version="0.33.1", features = [] }
async-trait = {version = "0.1.86"}
sqlx = { version = "0.8.3", features = ["sqlite", "runtime-tokio"] }
reqwest = { version = "0.12.12", features = ["json"] }
futures-util = "0.3.31"
zeromq = {version = "0.4.1", features = ["tokio"]}
rand = "0.9.0"



[package]
name = "star-river-backend"
version = "0.1.0"
edition = "2021"

[dependencies]
axum.workspace = true
axum-extra.workspace = true
headers.workspace = true
tokio.workspace = true
tokio-stream.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
serde.workspace = true
serde_json.workspace = true
tower-http.workspace = true
futures-util.workspace = true
futures.workspace = true
heartbeat = { path = "crates/heartbeat" }
exchange-client = { path = "crates/exchange-client" }
data-cache = { path = "crates/data-cache" }
indicator-engine = { path = "crates/indicator-engine" }
types = { path = "crates/types" }
utils = { path = "crates/utils" }
event-center = {path = "crates/event-center"}

database = { path = "crates/database" }
migration = { path = "crates/migration" }


[profile.release]
opt-level = 'z'     # 优化大小
lto = true          # 启用链接时优化
codegen-units = 1   # 降低并行编译等级以提高优化
strip = true        # 自动剥离符号信息



