[workspace]
resolver = "2"
members = [ 
    "examples/*",
    "star-river",
    "database",
    "event-center",
    "exchange-client",
    "heartbeat",
    "migration",
    "types",
    "utils", 
    "engine"
    ]

[workspace.package]
version = "0.1.0"
description = "Star River Backend Workspace"
authors = ["Jabori"]
edition = "2021"




[workspace.dependencies]
axum = { version = "0.8.1", features = ["macros", "ws", "query","json"] }
axum-extra = {version = "0.10.0", features = ["typed-header"]}
headers = "0.4.0"
tokio-stream = {version = "0.1.17", features = ["sync"]}
tokio = { version = "1.44.1", features = ["full"] }
tokio-util = {version = "0.7.14"}
tracing = "0.1.41"
tracing-subscriber = {version = "0.3.19", features = ["env-filter"]}
serde = { version = "1.0.215", features = ["derive"] }
serde_json = "1.0.139"
tower-http = { version = "0.6.2", features = ["cors","fs", "trace"] }
uuid = { version = "1.15.1", features = ["v4", "serde"] }
chrono = { version = "0.4.39", features = ["serde"] }
strum = {version = "0.27.1", features = ["derive"]}
strum_macros = "0.27.1"
futures = "0.3.31"
tokio-tungstenite = { version = "0.26.1",features = ["native-tls"] }
zip = "2.2.2"
sysinfo = {version="0.34.2", features = [] }
async-trait = {version = "0.1.86"}
# 数据库
sqlx = { version = "0.8.3", features = ["sqlite", "runtime-tokio"] }
sea-orm = { version = "1.1.7", features = [ "sqlx-sqlite","runtime-tokio", "macros", "chrono","with-chrono","with-json","serde_json" ] }
reqwest = { version = "0.12.12", features = ["json"] }
futures-util = "0.3.31"
zeromq = {version = "0.4.1", features = ["tokio"]}
rand = "0.9.0"


[package]
name = "star-river-backend"
version = "0.1.0"
edition = "2021"

[dependencies]
star-river = {path = "star-river"}
tokio.workspace = true




[profile.release]
opt-level = 'z'     # 优化大小
lto = true          # 启用链接时优化
codegen-units = 1   # 降低并行编译等级以提高优化
strip = true        # 自动剥离符号信息







