[package]
name = "types"
version.workspace = true
description.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
utils = { path = "../utils" }
serde.workspace = true
strum.workspace = true
strum_macros.workspace = true
serde_json.workspace = true
typetag = {version = "0.2.20"}
