[package]
name = "client"
version = "0.1.0"
edition = "2021"

[dependencies]
axum.workspace = true
futures-util.workspace = true
tokio.workspace = true
tokio-tungstenite.workspace = true

[[bin]]
name = "client"
path = "src/client.rs"




